@import "config";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  .container {
    max-width: fit-content;
    max-height: fit-content;
    min-width: 28em;
    text-transform: capitalize;
    text-align: center;
    .title {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .underline {
        width: 45px;
        height: 5px;
        background-color: gray;
        margin-bottom: 2.5em;
      }
    }
    .review {
      width: fit-content;
      height: fit-content;
      position: relative;
      background-color: rgb(207, 207, 207);
      padding: 1.5em;
      @include mboxshadow(1);
      border-radius: 4px;
      .img-container {
        width: 30vw;
        max-width: 35vmin;
        height: fit-content;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 16px -9px 0px -3px rgba(162, 157, 154, 1);
        &:after {
          font-family: "Font Awesome 5 Free";
          content: "\f10e";
          font-weight: 900;
          color: rgb(245, 228, 206);
          min-height: 2rem;
          min-width: 2rem;
          border-radius: 50%;
          background-color: #a29d9a;
          position: absolute;
          left: 33%;
          top: 8%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          width: 43vw;
          max-width: 50vmin;
          max-height: fit-content;
        }
      }
      button {
        background-color: transparent;
        padding: 0.5em;
        cursor: pointer;
        text-decoration: none;
      }
      .button-container {
        margin-bottom: 1em;
        .prev-btn{
         border: none;
         i{
          size: 2em;
         }
        }
      }
    }
  }
}
